@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

* {
    /* GLOBAL SIZING */
    box-sizing: border-box;

    /* GLOBAL MARGIN AND PADDING */
    margin: 0;
    padding: 0;
}

#command {
    position: absolute;
    top: -150vh;
}

body {
    /* SIZE */
    min-height: 100vh;
    
    /* DISPLAY MODE */
    display: flex;
    
    /* ALIGNMENT ATTR */
    justify-content: center;
    align-items: center;

    /* BACKGROUND */
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;

    /* FONT */
    font-family: 'Source Sans Pro', sans-serif;

    .terminal {
        min-width: 700px;
        max-width: 700px;
        border-radius: 12px;

        position: absolute;
    
        >.dock {
            /* SIZE */
            width: 100%;
            height: 30px;
            border-radius: 12px 12px 0 0;
    
            /* DISPLAY MODE */
            display: flex;
            flex-direction: row;
            
            /* ALIGNMENT ATTR */
            justify-content: space-between;
            align-items: center;
        
            /* BACKGROUND */
            background: #faf6f7;
    
            /* FONT */
            color: #525051;
            
            
            span {
                cursor: default;
                &::selection {
                    background: transparent;
                }
            }

            >.left, >.right {
                /* SIZE */
                width: 10%;
            
            }
            >.center {
                /* SIZE */
                width: 80%;
            }
            >.left, >.right, >.center {
                /* DISPLAY MODE */
                display: flex;
                flex-direction: row;
                
                /* ALIGNMENT ATTR */
                justify-content: center;
                align-items: center;
            }
            >.left {
                >.buttons {
                    /* SIZE */
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
    
                    /* DISPLAY MODE */
                    display: flex;
                    flex-direction: row;
                    
                    /* ALIGNMENT ATTR */
                    justify-content: space-between;
                    align-items: center;
    
                    /* PADDING */
                    padding: 0 10px;

                    >div {
                        /* SIZE */
                        width: 12px;
                        height: 12px;

                        /* BORDER */
                        border-radius: 50%;
                        
                        /* BACKGROUND */
                        background-color: black;
                        
                        /* SYSTEM */
                        cursor: pointer;
                        
                        &.close {
                            background-color: #fa4136;
                        }
                        &.minimize {
                            background-color: #fdc201;
                        }
                        &.maximize {
                            background-color: #18c82d;
                        }
                    }
                }
            }
        }
        >.body {
            /* SIZE */
            width: 100%;
            height: 370px;
            border-radius: 0 0 12px 12px;
    
            /* DISPLAY MODE */
            display: flex;
            flex-direction: column;
            
            /* BACKGROUND */
            background: rgba(39, 39, 39, 0.9);
    
            /* FONT */
            color: #bdbdbd;
    
            /* PADDING */
            padding: 10px;
    
            /* SYSTEM */
            cursor: text;

            /* SCROLLBAR */
            overflow-y: auto;
            overflow-x: auto;
            &::-webkit-scrollbar {
                width: 3px;
                cursor: pointer !important;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
                cursor: pointer !important;
            }
            &::-webkit-scrollbar-thumb {
                background: #817f80;
                cursor: pointer !important;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #817f80;
                cursor: pointer !important;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    font-size: 14px;
                }
            }
            a {
                color: #bdbdbd;
            }
            #currentText {
                color: #f1f1f1;
                &::after {
                    content: "|";
                    width: 10px;
                    height: 100%;
                    color: #f1f1f1;
                    font-weight: bolder;
                    animation: blink 1s steps(2, start) infinite;
                }
            }
        }
    }
}

@keyframes blink {
    to { visibility: hidden; }
  }