@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Viga&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Space Mono", monospace;

    background: #fad9e7;
    color: #272727;

    font-size: 2.1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

body::after {
    content: "";

    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("../images/blend.png");
    mix-blend-mode: overlay;

    pointer-events: none;

    opacity: 0.5;
}

.card {
    position: relative;
    width: 800px;
    height: 600px;
    background: #fdf0f5;
    overflow: hidden;

    border: 2px solid #ccc;
}

.card-header .title {
    background: #f1f1f1;
    display: flex;

    border-bottom: 2px solid #ccc;

    height: 35px;

    padding: 0 15px;

    font-size: 1.8rem;

    align-items: center;
    justify-content: center;
}

.card-body {
    padding: 20px 30px;

    display: flex;

    height: calc(100% - 35px);
}

.card-body .top {
    position: relative;

    display: flex;
}

.card-body .column {
    padding: 0 15px;

    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.card-body .column img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-body .column img.banner {
    width: 100%;
    height: 100px;

    object-fit: cover;
}

.card-body span {
    display: block;
}

section.data {
    padding-bottom: 10px;
    border-bottom: #ccc dashed 3px;
    /* border-style: /; */
}

section.data span{
    font-size: 1.8rem;
}

blockquote {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons ul {
    margin: 0 auto;
    padding: 0;

    margin-top: 6px;

    width: fit-content;

}

.icons ul li {
    list-style-type: none;
    display: inline-block;
}

.icons ul li a {
    display: block;
    width: 45px;
    height: 45px;

    color: #3d3d3d;
}

span.footer {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
